.options {
  .option:hover {
    background-color: var(--color-purple-500-main);
    color: var(--color-white);
  }
}

.input {
  transition: none;

  &[data-expanded] {
    border-color: var(--color-purple-500-main);
  }
}

.label {
  font-weight: 700;
}

