.root {
  width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.container {
  justify-content: center;
}

.contentWrapper {
  margin-top: 20px;
}

.title {
  font-size: 14px;
  color: var(--color-purple-500-main);
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .root {
    width: 100%;
    margin-top: 0;
  }

  .container {
    width: 100%;
    align-items: center;
  }

  .title {
    width: 100%;
    text-align: center;
  }
}

