.root {
  width: 800px;
  background-color: var(--color-white);
  border-radius: 12px;
}

.mainContent {
  padding: 24px;
}

.heading {
  font-size: 20px;
  font-weight: 700;
}

.production {
  display: flex;
  align-items: center;
}

.img {
  width: 40px;
  height: 40px;
}

.title {
 padding-left: 8px;
  font-weight: 700;
}

.line {
  margin-top: 20px;
  width: 752px;
  border: 1px solid var(--color-grey-300);
}

.video {
  width: 500px;
  height: 281px;
}

@media (max-width: 1024px) {
  .root {
    width: 100%;
    height: auto;
    background-color: var(--color-white);
    border-radius: 12px;
  }

  .mainContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
  }

  .title {
    text-align: center;
    width: 100%;
    font-weight: 700;
  }

  .heading {
    text-align: center;
    width: 100%;
  }

  .description {
    width: 100%;
    padding: 16px;
    text-align: center;
  }

  .line {
    width: 100%;
  }

  .video {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

