.root {
  width: 800px;
  height: 400px;
  background-color: var(--color-white);
  border-radius: 12px;
}

.mainContent {
  display: flex;
  padding: 24px;
  height: 100%;
  flex-grow: 1
}

.img {
  height: 352px;
  width: 250px;
}

.posterWrap {
  height: 352px;
  width: 250px;
  background-color: var(--color-grey-200);
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 16px;
  width: 263px;
  height: 100%;
  flex-grow: 1;
}

.title {
  color: var(--color-purple-500-main);
  font-size: 20px;
}

.release_date {
  font-size: 16px;
  color: var(--color-grey-600);
}

.rating {
  display: flex;
  gap: 4px
}

.ratingGrade {
  font-weight: 600;
}

.voteCount {
  color: var(--color-grey-600);
}

.descriptionsContainer{
  width: 500px;
}

.container {
  display: flex;
}

.description {
  color: var(--color-grey-600);
  width: 120px;
}

.descriptionOptions {
  margin-left: 10px;
}

.buttonWrap {
  margin-left: auto;
}

.Button svg {
  flex-shrink: 0;
}

.titleModal {
  font-size: 16px;
  font-weight: 700;
}

.activeButton {
  display: flex;
  gap: 7px;
}

@media (max-width: 1024px) {
  .root {
    width: 100%;
    height: auto;
    background-color: var(--color-white);
    border-radius: 12px;
  }

  .mainContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .title {
    text-align: center;
    width: 100%;
    color: var(--color-purple-500-main);
    font-size: 16px;
  }

  .content {
    width: 100%;
    padding: 0;
    align-items: center;
    text-align: center;
  }

  .descriptionsContainer {
    width: 100%;
  }

  .buttonWrap {
    margin-left: 0;
  }

  .rating {
    width: 100%;
    justify-content: start;
    align-items: start;
  }
}
