:root {
  // grey Scale
  --color-white: #FFFFFF;
  --color-grey-100: #F5F5F6;
  --color-grey-200: #EAEBED;
  --color-grey-300: #D5D6DC;
  --color-grey-500: #ACADB9;
  --color-grey-600: #7B7C88;
  --color-black: #232134;

  // purple
  --color-purple-100: #F2ECFA;
  --color-purple-200: #E5D5FA;
  --color-purple-300: #D1B4F8;
  --color-purple-400: #BD93F7;
  --color-purple-500-main: #9854F6;
  --color-purple-600: #541F9D;
  // yellow
  --color-yellow: #FAB005;
}