.root {
  width: 482px;
  height: 218px;
  background-color: var(--color-white);
  border-radius: 12px;
}

.mainContent {
  display: flex;
  padding: 24px;
  justify-content: space-between;
}

.img {
  height: 170px;
  width: 119px;
}

.posterWrap {
  height: 170px;
  width: 119px;
  background-color: var(--color-grey-200);
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  width: 263px;
  height: 170px;
  justify-content: space-between;
}

.title {
  color: var(--color-purple-500-main);
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.release_date {
  font-size: 16px;
  color: var(--color-grey-600);
  margin-bottom: 4px;
}

.rating {
  display: flex;
  gap: 4px
}

.ratingGrade {
  font-weight: 600;
}

.voteCount {
  color: var(--color-grey-600);
}

.genre {
  margin-top: auto;
  color: var(--color-grey-600);
}

a {
  text-decoration: none;
  color: inherit;
}

.line {
  border: 1px solid var(--color-grey-300);
}

.buttons {
  margin-top: 16px;
}

.buttons .buttonText {
  background-color: var(--color-white);
  color: var(--color-purple-500-main);
  margin-left: 16px;
}

@media (max-width: 780px) {
  .root {
    width: 100%;
    height: auto;
    background-color: var(--color-white);
    border-radius: 12px;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .activeButton {
    order: -1;
  }
}
