.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator {
  margin-top: 20px; /* Adjust the margin as needed */
}

.movieCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.title {
  font-size: 32px;
  font-weight: 700;
}


