.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contentWrapper {
  max-width: 980px;
  width: 100%;
}

.filters {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  width: 100%;
}

.sort {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 24px 0;
}

.movieCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.title {
  align-self: flex-start;
  font-size: 32px;
  font-weight: 700;
}

.button {
  margin-top: 20px;
  padding: 0;
}

.button:disabled:hover {
  cursor: not-allowed;
}

.buttonActive {
  color: var(--color-purple-500-main);
}

.paginator {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 24px 0;
}

.noMovie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noMovieTitle {
  font-size: 20px;
  font-weight: 600;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}

@media (max-width: 780px) {
  .filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16px;
    order: 1;
  }

  .title {
    display: flex;
    justify-content: center;
  }

  .sort {
    display: flex;
    justify-content: center;
    margin: 0 0 24px 0;
  }

  .button {
    margin-top: 0;
    padding: 0;
  }

  .paginator {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
