.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-wrap: nowrap;
}

.sort {
  display: flex;
  justify-content: flex-end;
  margin: 24px 0;
}

.movieCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.title {
 align-self: flex-start;
  font-size: 32px;
  font-weight: 700;
}

.button {
  margin-top: 20px;
  padding: 0;
}

.buttonActive{
  color: var(--color-purple-500-main);
}

.paginationWrapper {
  display: flex;
  justify-content: flex-end;
  max-width: 1090px;
}

.paginator {
  margin: 24px 0;
}

.noMovieTitle {
  font-size: 20px;
  font-weight: 600;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}

@media (max-width: 780px) {
  .filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16px;
    order: 1;
  }

  .sort {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 24px 0;
  }

  .button {
    margin-top: 0;
    padding: 0;
  }

  .paginationWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}


