.root {
  padding: 24px;
  max-width: 280px;
  background-color: var(--color-purple-100);
  flex-grow: 1;
}

.icon {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.sidebarTitle {
  color: var(--color-purple-500-main);
  margin-left: 14px;
  font-size: 24px;
}

.element {
  margin-bottom: 5px;
  font-size: 16px;
  padding: 5px;
  color: var(--color-black);
}

.burger{
  display: none;
}

.element:hover {
  background-color: var(--color-purple-200);
  border-radius: 8px;
  color: var(--color-purple-500-main);
}

.select {
  background-color: var(--color-purple-200);
  border-radius: 8px;
  color: var(--color-purple-500-main);
}

.root a, .root a:visited, .root a:hover, .root a:active {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 780px) {
  .root {
    display: flex;
    justify-content: center;
    max-width: 100%;
    background-color: var(--color-grey-100);
    flex-grow: 1;
  }

  .icon {
    margin-bottom: 0;
  }

  .element {
    display: none;
  }

  .elementHide{
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 5px;
    color: var(--color-black);
  }

  .burger{
    display: block;
    margin-left: auto;
  }
}



