.root {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--color-grey-100);
}

.sidebar {
    display: flex;
    flex-grow: 1;
    width: 280px;
}

@media (max-width: 780px) {
    .root {
        flex-direction: column;
    }

    .sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
